<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,400,900" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Angular App</title>
</head>
<body>
  <div>
    <h1>Cool Contact List</h1>
    <p>Add, Remove, and Search for Contacts</p>
  </div>
<section class="stuff" ng-controller="TestApp as test">
  <input class="main_input" type="text" placeholder="Name" ng-model="test.person.name">
  <input class="main_input" type="text" placeholder="Age" ng-model="test.person.age">
  <input class="main_input" type="button" value="Add" ng-click="test.add(person)">
  <input class="main_input" type="text" placeholder="Search for person" ng-model="name.name">
  <ul>
    <li class="list_items" ng-class="{'adult': items.adult}"
    ng-repeat="items in test.list | filter: name">{{items.name}} is: {{items.age}}
    <input class="adult_button" type="button" value="View Profile" ng-if="items.adult">
    <span class="remove" ng-click="test.remove($index)">X</span>
  </li>
</ul>
</section>

  


<script src="https://code.angularjs.org/1.6.5/angular.min.js"></script>
<script src="module.js"></script>  
<script src="controller.js"></script>
</body>
</html>